<template>

        <div class="container">

            <div class="card">
                <div class="card-heading bg-success">
                    <h3 class="text-center">Admin Panel</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="">Display Title</label>
                            <input type="checkbox" v-model="displayTitle" />
                            <br />
                            <label for="">Display Add New Task</label>
                            <input type="checkbox" v-model="displayAddTask" />
                            <br />
                            <label for="">Display Task Stats</label>
                            <input type="checkbox" v-model="displayTaskStatistics" />
                        </div>
                        <div class="col-md-4">
                            <label for="">Display Tasks</label>
                            <input type="checkbox" v-model="displayTask" />
                            <label for="">Display Task Completion Progress Bar</label>
                            <input type="checkbox" v-model="displayProgressBar" />
                        </div>
                        <div class="col-md-4">
                            <label for="">Change App Title</label><br />
                            <input type="text" ref="appTitle" v-on:keyup.enter="changeAppTitle"/>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <h1 v-show="displayTitle">{{ appTitle }}</h1>
            <div class="card" v-show="displayAddTask">
                <div class="card-heading bg-info">
                    <h3 class="text-center">Add New Task</h3>
                </div>
                <div class="card-body">
                    <form v-on:submit.prevent="addTask">
                        <div class="row">
                            <div class="col-md-8">
                                <input type="text" class="form-control" v-model="tasks.name" />
                            </div>
                            <div class="col-md-4">
                                <input type="submit" class="btn btn-primary btn-block" value="Add" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br />
            <div class="card" v-show="displayProgressBar">
                <div class="card-heading  bg-success">
                    <h3 class="text-center">Completion Progress Bar</h3>
                </div>
                <div class="card-body">
                     <div class="row justify-content-md-center">
                            <div class="col-md-6">
                               <div class="progress bg-gray ">
                                 <div class="progress-bar bg-success text-center" role="progressbar" :style="{ width : percentageTask + '%'}" >
                                  {{Math.round(percentageTask)}}%
                                </div>
                               </div>
                            </div>
                      </div>
                </div>
            </div>
            <br />
            <div class="card" v-show="displayTaskStatistics">
                <div class="card-heading bg-info">
                    <h3 class="text-center">Tasks Statistics</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p @mouseover="changeTotalTasks">Total Tasks:{{tasks.length}}</p>
                            <p @mouseover="changeLetToDo">Tasks Left To Do:{{letToDo}}</p>
                            <p @mouseover="changeCheckMarked">Check Marked Tasks:{{checkMarkedTasks}}</p>
                            <p @mouseover="changeDeleteTask">Deleted Tasks:{{this.deletedTasks}}</p>
                        </div>
                        <div class="col-md-6">
                            <h3 class="taskstyle">{{displayTaskView}}</h3>
                            // eslint-disable-next-line
                             <h3 class="textstyle" :class="manageable">{{ letToDo<10 ? 'Manageable' : 'Overload Task'}}</h3>

                        </div>
                    </div>
                </div>
            </div>
            <br />
            <table class="table" v-if="displayTask && tasks.length>0">
                <thead>
                    <th>Check Mark Done</th>
                    <th>Task name</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                     <tr v-for="task in tasks" :key="task.name">
                        <td><input type="checkbox" v-model="task.done"/></td>
                        <td><span :class="{ taskDone:task.done }">{{task.name}}</span></td>
                        <td>
                            <button class=" deletebutton btn-danger text-white" @click="deleteTask(task)">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h2 class="text-center" v-else>The tasks list has been hidden or there are no tasks to display</h2>

        </div>
    
</template>
<script>
        export default{
            name: "apptodo",
            data() {
                return{
                appTitle: 'ToDo list App',
                displayTitle: true,
                displayAddTask: true,
                displayTaskStatistics: true,
                displayTask: true,
                displayProgressBar: true,
                deletedTasks:0,
                displayTaskStat:'totalTasks',
                tasks:[]
                }
            },
            methods: {
                changeAppTitle: function () {
                    this.appTitle = this.$refs.appTitle.value;
             },
                addTask: function(event){
                    event.preventDefault();
                    if(this.tasks.name !== '' && this.tasks.name !== undefined){
                        this.tasks.push({
                            name:this.tasks.name,
                            });
                        }
                    },
                    deleteTask: function(task){
                        this.tasks.splice(this.tasks.indexOf(task),1);
                        this.deletedTasks++;
                    },
                    changeTotalTasks: function(){
                     this.displayTaskStat='totalTasks';
                    },
                    changeLetToDo: function(){
                     this.displayTaskStat='letToDo';
                    },
                    changeCheckMarked: function(){
                     this.displayTaskStat='checkMarkedTasks';
                    },
                    changeDeleteTask: function(){
                     this.displayTaskStat='deletedTasks';
                    }
                  },
            computed: {
                checkMarkedTasks: function(){
                    let count=0;
                    for(let i=0;i<this.tasks.length;++i){
                        if(this.tasks[i].done === true){
                            count++;
                        }
                    }
                    return count;
                },
                letToDo: function(){
                    return this.tasks.length - this.checkMarkedTasks;
                },
                displayTaskView: function(){
                    if(this.displayTaskStat == 'totalTasks'){
                        return 'Total Tasks: '+ this.tasks.length;
                    }else if(this.displayTaskStat == 'letToDo' ){
                        return 'Tasks Left: '+ this.letToDo;
                    }else if(this.displayTaskStat == 'checkMarkedTasks' ){
                        return 'Check Marked: '+ this.checkMarkedTasks;
                    }else if(this.displayTaskStat == 'deletedTasks' ){
                        return 'Delete Task: '+ this.deletedTasks;
                    }
                    return ""
                },
                manageable: function(){
                    if(this.letToDo < 10 )
                    {
                        return 'textstyle';
                    }
                    else{
                        return 'textover';
                    }
                },
                percentageTask: function(){
                    if(this.tasks.length == 0){
                        return 0;
                    }
                    else{
                        return (this.checkMarkedTasks / this.tasks.length)*100;
                    }
                }
                
                
            }     
        };

    </script>
<style scoped>

.progress{
    width:80%;
    height: 30px;
    
}
.textstyle{
    background-color: springgreen;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 45px;
}
.textover{
    background-color: indianred;
}
.taskstyle{
    margin-top: 10px;
}
.deletebutton{
    width: 150px;
    height: 30px;
    border-radius: 4px;
}
.taskDone{
    text-decoration:line-through;
}

</style>