<template>
  <div id="app">
    
    <apptodo/>
  </div>
</template>

<script>
//import HelloWorld from './components/HelloWorld.vue'
import apptodo from './components/apptodo.vue'

export default {
  name: 'app',
  components: {
    apptodo

  }

}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  color: #2c3e50;
  margin-top: 60px;
}
</style>
